<div class='section'>
  <h1><span class="label label-primary"><%= "הגדרות ערוץ מס׳ #{@channel[:Channel]}"%></span></h1>
</div>
<div class='section'>
  <%= render partial: 'channel_status_desc' %>
</div>
<div class='section stretch form-container'>
  <form class='channel-form' action='' method='POST'>
    <div class='form-input'>
      <label for='ch_Name'>שם הערוץ</label>
      <input class='form-control' type='text' id='ch_Name' name='Name' value='<%= @channel[:Name] %>' />
    </div>
    <div class='form-input'>
      <label for='ch_Category'>קטגוריה/רכיב</label>
      <input class='form-control' type='text' id='ch_Category' name='Category' value='<%= @channel[:Category] %>' />
    </div>
    <div class='form-input'>
      <label for='ch_Transmitter'>משדר מקושר</label>
      <input class='form-control' type='text' id='ch_Transmitter' name='Transmitter' value='<%= @channel[:Transmitter] %>' />
    </div>
    <div class='form-input'>
      <label for='ch_ChannelMaster'>ערוץ אב</label>
      <input class='form-control' type='number' id='ch_ChannelMaster' name='ChannelMaster' value='<%= @channel[:ChannelMaster] %>' />
    </div>
    <div class='form-input'>
      <label for='ch_MaxCurrent'>זרם מקסימלי</label>
      <div class="input-group" dir='ltr'>
        <input class='form-control' type='number' id='ch_MaxCurrent' name='MaxCurrent' value='<%= @channel[:MaxCurrent] %>' />
        <span class="input-group-addon">A</span>
      </div>
    </div>
    <div class='form-input'>
      <label for='ch_ManualVoltage'>הזנת מתח</label>
      <div class="input-group" dir='ltr'>
        <input class='form-control' type='number' id='ch_ManualVoltage' name='ManualVoltage' value='<%= @channel[:ManualVoltage] %>' />
        <span class="input-group-addon">V</span>
      </div>
    </div>
    <div class='form-input'>
      <label></label>
      <input type='submit' class='btn-save btn btn-lg btn-primary' value='שמור'>
    </div>
  </form>
</div>
