<!--
<div class='btn-group'>
  <%= render partial: 'period_button', locals: { label: 'תעריף קבוע', period: 'realtime'} %>
  <%= render partial: 'period_button', locals: { label: 'תעו"ז', period: '60min'} %>
</div>
-->

<div class='section'>
  <h1><span class="label label-primary %>"><%= "ערוץ מס׳ #{@channel[:Channel]}: #{@channel[:Name]}"%></span></h1>
</div>

<div class='section'>
  <%= render partial: 'channel_status_desc' %>
</div>
<div class='section stretch ltr'>
  <h1><%= power_string %></h1>
  <h2><%= fixed_cost_string %></h2>
</div>
<% if @period == 'realtime' || @period == '60min' %>
<div class='section stretch ltr'>
	<h3><%=taoz_string%><span class="label label-<%= taoz_tariffs(@taoz) %>"><%=taoz_level%></span><%=taoz_expired_time%></h3>
</div>
<div class='section stretch ltr'>
	<h3><%=taoz_string2%><span class="label label-<%= taoz_tariffs(@taoz-1) %>"><%=taoz_next_level%></span><%=taoz_next_time%></h3>
</div>
<% end %>
	 <div class='section stretch ltr'>
	 <h2><%= uptime_string %></h2>
	 <h2><%= uptime_cost_string %></h2>
</div>

<% if @period == 'realtime' && @channel[:Active] == 1 && @channel[:Status] == 4 %>
	<div title='ניצולת' class="progress">
  		<div class="progress-bar progress-bar-info progress-bar-striped color-<%= 'medium' %>" role="progressbar"
  		aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width:<%=load_percent%>%">
  		</div>
      ניצולת
	</div>
<% elsif ['day', 'week', 'month'].include?(@period) && @channel[:ChannelMaster] == 0 %>
  <div class='social-norm-bar'>
    <div title='נורמה חברתית' class="progress">
        <div class="progress-bar progress-bar-<%= @channel[:normRatio] > 100 ? 'danger' : 'success' %> progress-bar-striped" role="progressbar"
        aria-valuenow="<%= @channel[:normRatio] %>%" aria-valuemin="0" aria-valuemax="200" style="width:<%= @channel[:normRatio]*100/200 %>%">
        <%= 'נורמה חברתית - ' if @channel[:normRatio] > 150 %>  <%= @channel[:normRatio] %>%
        </div>
      <%= 'נורמה חברתית' if @channel[:normRatio] < 150 %>
    </div>
    <div class='progress-meter'>
      <span>0%</span>
      <span>100%</span>
      <span>>200%</span>
    </div>
  </div>
<% end %>


<div class='section'>
  <%= render partial: 'period_button', locals: { label: 'זמן אמת', period: 'realtime'} %>
  <%= render partial: 'period_button', locals: { label: '60 דקות', period: '60min'} %>
  <%= render partial: 'period_button', locals: { label: 'היום', period: 'day'} %>
  <%= render partial: 'period_button', locals: { label: 'השבוע', period: 'week'} %>
  <%= render partial: 'period_button', locals: { label: 'החודש', period: 'month'} %>
</div>
