<div class='section'>
  <h1><span class="label label-primary %>"><%= "ערוץ מס׳ #{@channel[:Channel]}: #{@channel[:Name]}"%></span></h1>
</div>
<div class='section'>
  <%= render partial: 'channel_status_desc' %>
</div>
<div class='section stretch ltr'>
  <h1><%= power_string %></h1>
</div>
<div class='section'>
  <%= render partial: 'period_button', locals: { label: 'זמן אמת', period: 'realtime'} %>
  <%= render partial: 'period_button', locals: { label: 'היום', period: 'day'} %>
  <%= render partial: 'period_button', locals: { label: 'השבוע', period: 'week'} %>
  <%= render partial: 'period_button', locals: { label: 'החודש', period: 'month'} %>
</div>
