<!DOCTYPE html>
<html>
<head>
  <title>PiUi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container well'>
    <div class='navbar'>
      <%= render partial: 'layouts/navbar' %>
    </div>
    <div class='tab-container'>
      <%= yield %>
    </div>
    <div>

    </div>
  </div>

  <% if @period == 'realtime' || @period == 'day' %>
    <script>
      setInterval(function(){ location.reload(); }, 10000);
    </script>
  <% end %>
</body>
</html>
