<!DOCTYPE html>
<html>
<head>
  <title>PiUi - Class</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container well'>
    <div class='navbar'>
      <%= render partial: 'layouts/navbar' %>

    </div>
    <div class='tab-container'>
      <%= yield %>
    </div>
    <!-- <h2>איכות הקליטה: <%= @reception_quality%>%</h2> -->
    <div class="separator"></div>
    <%= render partial: 'layouts/footer' %>
  </div>

  <% if @period == 'realtime' || @period == '60min' || @period == 'day' || @period == 'week' || @period == 'month'  %>
    <script>
       setInterval(function(){ location.reload(); }, 6000);
    </script>
  <% end %>
</body>
</html>
